# 
Agenda

* **Overview of Recommendation Systems**
  * **What are Recommendation Systems?**
  * **Importance and Applications**
* **Examples of Recommendation Systems**
  * **Enhanced Book Discovery Recommendations**
  * **Hyper-Personalized Media Recommendations**
  * **Viewed Items Recommendations**
  * **Enhanced Product Discovery Recommendations**
* **Types of Recommendation Systems**
  * **Collaborative Filtering**
    - **Memory-Based Collaborative Filtering**
      - User-Based Collaborative Filtering
      - Item-Based Collaborative Filtering
    - **Model-Based Collaborative Filtering**
      - Matrix Factorization (MF)
      - Singular Value Decomposition (SVD)
  * **Content-Based Filtering**
  * **Hybrid Filtering**

## User-Based Collaborative Filtering

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
animes = pd.read_csv('anime.csv')
rating = pd.read_csv('rating.csv')
rating_matrix =  pd.read_csv('rating_matrix.csv', index_col = 0)

In [14]:
rating_matrix.head()

,1,5,6,7,15,16,18,19,20,22,...,32281,32282,32379,32438,32542,32729,32828,32935,32998,34240
user_id,,,,,,,,,,,,,,,,,,,,,
226,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,10.0,0.0,0.0,4.0,0.0,7.0,9.0,0.0,0.0,10.0
294,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
392,7.0,0.0,7.0,0.0,0.0,0.0,7.0,0.0,7.0,0.0,...,0.0,8.0,6.0,4.0,0.0,0.0,0.0,8.0,0.0,0.0
446,9.0,8.0,9.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,...,0.0,8.0,0.0,5.0,0.0,7.0,0.0,0.0,8.0,9.0

In [12]:
rating.user_id.nunique()

73515

In [13]:
73515 * 12294

903793410

In [47]:
## Find Similar users

user_id =  294

user =  rating_matrix[rating_matrix.index == user_id]
other_users =  rating_matrix[rating_matrix.index != user_id]

similarities = cosine_similarity(user, other_users)[0].tolist()

indices =  other_users.index.tolist()

index_similarity =  dict(zip(indices, similarities))

index_similarity_sorted =  list(sorted(index_similarity.items(), key = lambda item : item[1], 
                                       reverse = True))

top_5_users_similarities  =  index_similarity_sorted[:5]

sim_users =  [ u[0] for u in top_5_users_similarities ]

In [48]:
sim_users

[25760, 57620, 59643, 51270, 8115]